<h1>How to play rock, paper, scissors</h1>
<p>This page will tell you everything you need to know about playing rock paper, scissors!</p>
 <ol>
  <li>Find an opponent</li>
  <li>Player 1 select rock, paper or scissors</li>
  <li>Player 2 select rock, paper or scissors</li>
  <li>See your result!</li>
</ol>
